/* Workflow Manager Styles */

.o_workflow_action_tree .o_decoration_success {
    color: #28a745;
}

.o_workflow_action_tree .o_decoration_muted {
    color: #6c757d;
}

.o_workflow_action_tree .o_decoration_info {
    color: #17a2b8;
}

.o_workflow_action_tree .o_decoration_warning {
    color: #ffc107;
}

